{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Espera</title>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
      <link  rel="icon"   href="{% static '/Img/Diamantes.png' %}" type="image/png" />
<!-- Botstrap css-->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<!-- Botstrap js-->
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
<!-- Link CSS -->
      <link rel="stylesheet" href=" {% static '/styles.css' %} ">
</head>
<body>
      
      <main>
            
              <div class='container mb-5 mt-5 shadow-lg   rounded-4 ' id='container_invitado'>
                  <h2>No dejes  a tu aliado atras!</h2>
               
            
                  <form action="" method="post">
                        {% csrf_token %}

                        <input type="text" name=""   placeholder='Mi id' class="input_invitado">

                        <input type="text" name=""   placeholder='Id de aliado' class="input_invitado">

                        <input type="submit" id="input-button" value="Enviar" class='mt-3' >
                  </form>
            
                  <div class='container mt-5' id="losabias">
                        <h3>¿Lo sabias?</h3>
                        <p>
                              Si alguien que halla recargado en las ultimas 24 horas, ambos pueden recibir un copon de hasta 100 diamantes!
                        </p>
            
                        <div class='informativo shadow'>
                              <a href="#">Mas informacion</a>
                        </div>
                  </div>
            
      </main>
  
</body>
</html>