{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
      
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Fonts -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
<!-- Botstrap css-->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<!-- Botstrap js-->
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
<!-- Link CSS -->
      <link rel="stylesheet" href=" {% static '/styles.css' %} ">
      <title>Frefire</title>
</head>
<body>
      <main>
    

      
            <section class="container shadow  " id="container-buy-2" >

              <div class="card-buy">
                        <img src="{% static '/Img/Diamantes.png' %}"  width="270px" height="190px" alt="">
                        <h4>{{diamantes.name_diamantes}}</h4>
                        <div class="enlace-price" >{{diamantes.price_diamantes}}</div>
                        <div class="enlace-buy">
                              <a href="#">Escogido </a>
                        </div>

                              
                   
                                    
                  <div class="container shadow" id="div-form">
                        <h1>Registra tus datos</h1>
                        <form action="" id="form"  method="post">
                              {% csrf_token %}
                              <input type="number" id="input-cards" name="id_game" placeholder="ID del usuario" required >
                              <input type="number" id="input-cards"name="number_card"
                              placeholder="Numero de Tarjeta" required>
                              
                              <input type="month" id="input-date" name="date" 
                              placeholder="MM/YY" required>
                              <input type="number" id="input-cvv"name="cvv" 
                              placeholder="CVV" required>

                              <div class="container  ">
                                   
                                    <button id="input-button" ><a href="{% url 'recargas:index' %}">Inicio</a></button>
                                    <input type="submit" id="input-button" value="Enviar">

                              </div>
                              <div class="container" id="card-master">
                                    <img src="{% static '/Img/Mastercard.png' %}"  
                                    width="25" alt="">
                                    <img src="{% static '/Img/Visa.png' %}"
                                    width="35" alt="">
                              </div>
                        </form>
                  </div>
            </section> 
            
      </main>
</body>
</html>
