*
{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: "Itim";

}

body
{
      background-color: rgb(19, 22, 44 );
}


#container-buy-2
{
      width: 35rem;
      
      /* background-color: blueviolet; */
}

.card-buy
{
      /* background-color: antiquewhite; */
      width: 30rem;
      margin:  0 auto;
}

.card-buy #imagen
{
      border-radius: 0.6rem;
      margin: 0 auto;
      width: max-content;
      /* background-color: aqua; */
}

#div-card h2
{
      /* background-color: azure; */
      /* background-color: antiquewhite; */
      margin: 0 auto;
}

#div-card #input-cards
{
      width: 22rem;
      height: 2.5rem;
      border: none;
      border-radius: 0.9rem;
      margin: 0.2rem 0;
      padding: 0.5rem;
      outline: none; 
}

#input-id-game
{
      width: 22rem;
      height: 2.5rem;
      border: none;
      border-radius: 0.9rem;
      margin: 0.2rem 0;
      padding: 0.5rem;
      outline: none;
}

 #input-date, #input-cvv
{
      width: 7rem;
      height: 2.1rem;
      border: none;
      border-radius: 0.9rem;
      padding: 0.5rem;
      outline: none;
}

#div-card #input-button
{
      width: 6rem;
      height: 2.2rem;
      border: none;
      border-radius: 0.9rem;
      outline: none;
      background-color: #050505;
      color: aliceblue;
      border: solid 1px rgb(255, 179, 0);

}

#input-button a
{
      text-decoration: none;
      color: aliceblue;
}



#div-card .container #email
{
      width: 22rem;
      height: 2.5rem;
      border: none;
      border-radius: 0.9rem;
      margin: 0.2rem 0;
      padding: 0.5rem;
      color: black;
      outline: none;
}

.enlace-price, .enlace-buy
{
      color: aliceblue;
}

h3,h2, h1
{
      color: rgb(255, 179, 0);

}
h4
{
      color: aliceblue;
}

p
{
      color: aliceblue;
}